@media (max-width: 768px) {
  .section-2 {
    padding-top: 120px;
    padding-bottom: 120px;
    height: auto;
  }

  .flex-tile-icon>img {
    width: 70px;
    height: 70px;
  }

  .flex-tile-content>h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flex-tile-content>p {
    font-size: 18px;
    font-weight: 600;
    color: gray;
  }

  .section-3 {
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
  }

  .section-5 {
    height: auto;
  }

  .service-content-main {
    font-size: 25px;
  }

  .service-content-sub {
    font-size: 53px;
    margin-bottom: 0px !important;
  }

  .service-topic>h3 {
    font-size: 32px;
  }

  .service-detail>p {
    font-size: 22px;
  }

  .career-content-main {
    font-size: 25px;
  }

  .career-content-sub-1,
  .career-content-sub-2 {
    font-size: 53px;
    margin-bottom: 0px !important;
  }

  .career-content-para-2,
  .career-content-para-1 {
    font-size: 25px;
  }

  .career-content-para-1 {
    margin-top: 20px;
  }

  .contact-content-sub {
    font-size: 53px;
    margin-bottom: 0px !important;
  }

  .contact-content-para-2,
  .contact-content-para-1 {
    font-size: 25px;
  }

  .contact-content-para-1 {
    margin-top: 20px;
  }

  /* .career-content-main-tag > h1{
        font-size: 53px;
    } */
  /* .career-content-sub-tag > p {
        font-size: 2px;
    }  */
  .main-sub-tag {
    margin-top: 17px;
  }

  .home-content-1-main-tag .main-tag>h1 {
    font-size: 53px;
  }

  .home-content-1-main-tag .sub-tag>p {
    font-weight: 500;
    font-size: 25px;
  }

  .home-content-2-main {
    font-size: 25px;
  }

  .home-content-2-sub-1,
  .home-content-2-sub-2 {
    font-size: 53px;
  }

  .home-content-2-sub-2 {
    margin-bottom: 30px;

  }

  .home-content-2-para {
    font-size: 25px;
  }

  .foot-link {
    font-size: 15px;
  }

  .section-1-careers {
    height: 100vh;
  }

  .career-content-sub-tag>p {
    font-size: 17px;
  }

  .section-1-contact {
    height: 100vh;
  }

  .contact-content-sub-tag>p {
    font-size: 17px;
  }

  #particle-js-3 {
    height: 100% !important;
  }

  #particle-js-4 {
    height: 100% !important;
  }

  .contact-section {

    padding: 25px;
  }

  .form-cotainer {
    padding: 0;
  }

  .contact-form {
    width: 100%;
  }
}

@media (max-width: 425px),
(max-width: 450px) {
  .section-2 {
    padding-top: 120px;
    padding-bottom: 120px;
    height: auto;
  }

  .flex-tile-icon>img {
    width: 50px;
    height: 50px;
  }

  .flex-tile-content>h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flex-tile-content>p {
    font-size: 15px;
    font-weight: 600;
    color: gray;
  }

  .section-3 {
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
  }

  .section-5 {
    height: auto;
  }

  .service-content-main {
    font-size: 25px;
  }

  .service-content-sub {
    font-size: 36px;
    margin-bottom: 0px !important;
  }

  .career-content-main {
    font-size: 25px;
  }

  .career-content-sub-1,
  .career-content-sub-2 {
    font-size: 36px;
    margin-bottom: 0px !important;
  }

  .career-content-para-2,
  .career-content-para-1 {
    font-size: 20px;
  }

  .career-content-para-1 {
    margin-top: 20px;
  }

  .contact-content-main {
    font-size: 25px;
  }

  .contact-content-sub {
    font-size: 36px;
    margin-bottom: 0px !important;
  }

  .contact-content-para-2,
  .contact-content-para-1 {
    font-size: 20px;
  }

  .contact-content-para-1 {
    margin-top: 20px;
  }

  .main-sub-tag {
    margin-top: 17px;
  }

  .home-content-1-main-tag .main-tag>h1 {
    font-size: 39px;
  }

  .home-content-1-main-tag .sub-tag>p {
    font-weight: 500;
    font-size: 17px;
  }

  .home-content-2-main {
    font-size: 25px;
  }

  .home-content-2-sub-1,
  .home-content-2-sub-2 {
    font-size: 40px;
  }

  .home-content-2-sub-2 {
    margin-bottom: 30px;
  }

  .home-content-2-para {
    font-size: 20px;
  }

  .foot-link {
    font-size: 15px;
  }

  .section-1-careers {
    height: 100vh;
  }

  .career-content-sub-tag>p {
    font-size: 17px;
  }

  .section-1-contact {
    height: 100vh;
  }

  .contact-content-sub-tag>p {
    font-size: 17px;
  }

  #particle-js-3 {
    height: 100% !important;
  }

  #particle-js-4 {
    height: 100% !important;
  }

  #particle-js-5 {
    height: 100% !important;
  }

  .contact-section {

    padding: 25px;
  }

  .form-cotainer {
    padding: 0;
  }

  .contact-form {
    width: 100%;
  }

  .ux-ui {
    /* margin-top: 23px !important; */
  }
}

@media (max-width: 375px),
(max-width: 412px) {
  .section-2 {
    height: auto;
  }

  .flex-tile-icon>img {
    width: 50px;
    height: 50px;
  }

  .flex-tile-content>h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flex-tile-content>p {
    font-size: 15px;
    font-weight: 600;
    color: gray;
  }

  .flex-tile {
    height: 190px;
  }

  .flex-tile-icon>img {
    width: 50px;
    height: 50px;
  }

  .flex-tile-content>h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flex-tile-content>p {
    font-size: 15px;
    font-weight: 600;
    color: gray;
  }

  .section-3 {
    padding-top: 80px;
    padding-bottom: 80px;
    height: auto;
  }

  .section-5 {
    height: auto;
  }

  .service-content-main {
    font-size: 25px;
  }

  .service-content-sub {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .contact-content-main {
    font-size: 25px;
  }

  .service-detail>p {
    font-size: 18px;
  }

  .contact-content-sub {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .contact-content-para-2,
  .contact-content-para-1 {
    font-size: 20px;
  }

  .contact-content-para-1 {
    margin-top: 20px;
  }

  .service-content-sub {
    margin-bottom: 0px;
  }

  .main-sub-tag {
    margin-top: 17px !important;
  }

  .home-content-1-main-tag .main-tag>h1 {
    font-size: 38px;
  }

  .home-content-1-main-tag .sub-tag>p {
    font-weight: 500;
    font-size: 17px;
  }

  .home-content-2-main {
    font-size: 25px;
  }

  .home-content-2-sub-1,
  .home-content-2-sub-2 {
    font-size: 30px;
  }

  .home-content-2-sub-2 {
    margin-bottom: 25px;
  }

  .home-content-2-para {
    font-size: 15px;
  }

  .ux-ui {
    /* margin-top: 34px !important; */
  }
}

@media (max-width: 320px),
(max-width: 360px) {
  .section-2 {
    height: auto;

  }

  .flex-tile-icon>img {
    width: 40px !important;
    height: 40px !important;
  }

  .flex-tile-content>h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .flex-tile-content>p {
    font-size: 13px;
    font-weight: 600;
    color: gray;
  }

  .section-3 {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .section-5 {
    height: auto;
  }

  .service-content-main {
    font-size: 25px;
  }

  .service-content-sub {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .career-content-main {
    font-size: 23px;
  }

  .service-detail>p {
    font-size: 18px;
  }

  .career-content-sub-1,
  .career-content-sub-2 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .career-content-para-2,
  .career-content-para-1 {
    font-size: 18px;
  }

  .career-content-para-1 {
    margin-top: 20px;
  }

  .email {
    font-size: 15px;
  }

  .contact-content-main {
    font-size: 25px;
  }

  .contact-content-sub {
    font-size: 36px;
    margin-bottom: 0px;
  }

  .contact-content-para-2,
  .contact-content-para-1 {
    font-size: 20px;
  }

  .contact-content-para-1 {
    margin-top: 20px;
  }

  .main-sub-tag {
    margin-top: 17px !important;
  }

  .home-content-1-main-tag .main-tag>h1 {
    font-size: 38px;
  }

  .home-content-1-main-tag .sub-tag>p {
    font-weight: 500;
    font-size: 17px;
  }

  .home-content-2-main {
    font-size: 25px;
  }

  .home-content-2-sub-1,
  .home-content-2-sub-2 {
    font-size: 30px;
  }

  .home-content-2-sub-2 {
    margin-bottom: 25px;
  }

  .home-content-2-para {
    font-size: 15px;
  }

  footer {
    height: 330px;
  }

  .ux-ui {
    /* margin-top: 56px !important; */
  }
}